<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.1.0" targetFramework="net472" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>